@charset "UTF-8";
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* クリック時に青い四角は表示されたが、これで無効化できた。cursor: pointer;がないと適用されないらしい。 */
}

/* Sass変数の設定 */
/* CSS変数の使用例
a {
  text-decoration: underline;
  color: $maincolor;
}　　の様に指定する */
/* リセットCSSの内容を更に使いやすく設定 */
/* デフォルト設定。適宜変更する */
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: "Roboto", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  /* "Noto Sans JP"がfont weightに悪さしてた。　こんなに指定する必要があるのか */
  color: var(--text-color);
  line-height: 1.5;
  background-color: #fff;
}

/* ラインハイトは1.5にしておくといいかも。やっぱり1がいいかも */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  /*参照 https://coliss.com/articles/build-websites/operation/css/sensible-defaults-for-img-elements.html */
}

button, input, select, textarea {
  border: solid 1px #C8C8C8;
}

.header__wrap {
  height: 90px;
  margin: 0 auto;
  padding: 30px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 自分のパソコンは1920pxの為、1440pxでmax-widthを指定してしまうと反映時に誤差が生じる */
  background-color: #ef8b8b;
}

.header__logo {
  line-height: 1;
}

.header__gnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__gnav__list--item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}

.header__gnav__link--active {
  color: #349bf4;
}

.header__hamburger {
  display: none;
}

.modal-button {
  background: orange;
  border-radius: 12px;
  -webkit-box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.24);
  border: 1px solid orange;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  padding: 12px 20px;
  color: #fff;
  text-align: center;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

/* グレー背景 */
.layer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed; /* 画面に固定するために指定 */
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.layer.is-show {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

/* モーダルコンテンツ */
.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-width: 440px;
}
.modal__inner {
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25); /* モーダルにシャドウをかける */
  border-radius: 13px; /* モーダルの角を丸める */
  display: block;
  padding: 21px 8px 21px;
  height: auto;
}
.modal__content {
  padding-top: 15px;
  padding-bottom: 23px;
}
.modal__button-wrap {
  position: absolute;
  right: 10px;
  top: -28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.close-button {
  position: relative;
  width: 39px;
  height: 39px;
  background: orange;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.button-bar {
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: calc(50% - 12px);
  top: 50%;
  border-radius: 20px;
}

.button-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
          transform: rotate(45deg) translate(-1px, -1px);
}

.button-bar:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

body {
  margin: 0;
}

.sec-blue {
  background-color: rgba(0, 140, 255, 0.5);
  height: 800px;
}

.sec-yellow {
  background-color: rgb(244, 244, 11);
  height: 800px;
}

.sec-green {
  background-color: rgba(129, 243, 129, 0.5);
  height: 800px;
}

/* トップへ戻るボタン */
.pagetop {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 8%;
  right: 2%;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0; /* デフォルトでは表示を消します */
  visibility: hidden; /* デフォルトでは表示を消します */
}
.pagetop__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-size: bold;
  line-height: 1.3;
  color: #333;
  text-decoration: none;
}
.pagetop__text {
  padding-top: 15px;
  position: relative;
}
.pagetop__text::before {
  content: "〈";
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}
.pagetop__text::after {
  content: "〈";
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.pagetop.fadeIn {
  opacity: 1; /* フェードインアニメーション */
  visibility: visible; /* ボタンを表示 */
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  position: relative;
  display: inline-block;
  background: #ff9158;
  border-radius: 30px;
  padding: 16px;
  font-weight: bold;
  color: #fff;
}

.says:after {
  content: "";
  /* borderで三角形を作る */
  border: 10px solid transparent;
  border-top: 10px solid #ff9158;
  /* 配置する */
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.says p {
  margin: 0;
  padding: 0;
}

/* モバイルここから */
@media (max-width: 767px) {
  .header__wrap {
    height: 60px;
    padding: 20px 0 20px 20px;
    /* position: relative;での指定はやめてpaddingでハンバーガーメニューの位置を指定した。ハンバーガーバーのフレックスを外して位置指定して×マークにしたい為 */
    position: fixed;
    background-color: #ef8b8b;
    width: 100vw;
    z-index: 50;
    /* ヘッダーを固定したい場合はここで調整 */
  }
  .gnav__link--active {
    color: #EF90A4;
  }
  .header__hamburger {
    /* position: absolute;
    top: 0;
    right: 0; これでインナーを基に画面右上に配置したが、バーをフレックス指定せざるを得なくなったのでやめた。このままだとz-indexが効かなくなったので、position:relativeを適用しz-indexを適用させると共に、バーもフレックスをやめた*/
    display: block; /* これでnoneが解除されて表示される */
    position: relative;
    z-index: 200; /* これで最前面にした */
    /*  下記でもバーの指定はできるが、×マークにする際にフレックスが邪魔する
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;/* カンプで確認した */
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 0;
    background: none;
    background-color: #dd1b57;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    /* ×マークのスタイル */
  }
  .header__hamburger--bar {
    /*
    width: 53%;
    /フレックス指定でバー位置を指定した際に用いた。カンプから％を計算した */
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: all 1s;
    transition: all 1s;
    /* これで動きの詳細を指定した */
  }
  .header__hamburger--bar:nth-child(1) {
    position: absolute;
    top: 22px;
    right: 17px;
    left: 17px;
  }
  .header__hamburger--bar:nth-child(2) {
    position: absolute;
    top: 30px;
    right: 17px;
    left: 17px;
  }
  .header__hamburger--bar:nth-child(3) {
    position: absolute;
    top: 38px;
    right: 17px;
    left: 17px;
  }
  .header__hamburger--bar.is-show:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    /* 8pxはカンプから計算し、1・3が中心で重なる様にした */
  }
  .header__hamburger--bar.is-show:nth-child(2) {
    opacity: 0;
    /* 不透明度 */
  }
  .header__hamburger--bar.is-show:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  /* メニューを開いた時の状態 */
  .header__gnav__list {
    width: 53%;
    height: 100%;
    background-color: #dd1b57;
    /*赤い色の部分  */
    position: fixed;
    top: 0;
    right: -120%; /* 画面外に配置 */
    bottom: 0;
    z-index: 100;
    /* 固定する。fixedすることでブラウ基準となり、レイアウトから除外され要素は浮いた状態になる。その為、他の要素は詰めて表示される。 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 96px;
    /* メニューの配置 */
    visibility: hidden;
    opacity: 0;
    /* これで一旦非表示。
    display:noneを使ってしまうと、使った要素にtransitionが適用されなくなる。*/
    -webkit-transition: all 1s;
    transition: all 1s;
    /* 動きをつけた。is-showが付与されているclassに動きをつけると、is-showの時のみ(今回の場合開く時のみ適用されてしまうので、大元で動きのcssを付与すればオープン・クローズ時に適用される)*/
  }
  .header__gnav__list--item {
    margin-bottom: 28px;
    color: #fff;
  }
  .header__gnav__list.is-show {
    /* これでjsと連動して表示される。 */
    right: 0; /* 画面内に配置 */
    visibility: visible;
    opacity: 1;
    /* ↑これで再表示。
    display:noneを使ってしまうと、使った要素にtransitionが適用されなくなる。 */
  }
}
/*# sourceMappingURL=index.css.map */