//-  Slider main container 
.swiper
  //-  Additional required wrapper
  .swiper-wrapper
    //-  Slides
    .swiper-slide
      img(src="../img/ririka1.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka2.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka3.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka4.jpg",alt="")

  
  //- If we need pagination
  .swiper-pagination
 
  //- If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next
 
  //- If we need scrollbar
  .swiper-scrollbar
