//-  Slider main container 
.swiper
  //-  Additional required wrapper
  .swiper-wrapper
    //-  Slides
    .swiper-slide
      img(src="../img/ririka1.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka2.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka3.jpg",alt="")
    .swiper-slide
      img(src="../img/ririka4.jpg",alt="")

  
  //- If we need pagination
  .swiper-pagination
 
  //- If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next
 
  //- If we need scrollbar
  .swiper-scrollbar

//- 【fade in animation】スクロールしたらふわっとセクションを表示させる
section.section(data-animate="fade-in")
//- セクション1のコンテンツ

section.section(data-animate="fade-in")
//- セクション2のコンテンツ
//- data-animateの種類は要確認が必要だが、機能させるには関係なさそう

