//- モーダルボタン
button.modal-button.js-modal-button モーダルボタン

//- モーダルウィンドウとグレー背景
.layer.js-modal
  .modal
    .modal__inner
      //- ×ボタン追記
      .modal__button-wrap
        button.close-button.js-close-button
          span.button-bar
          span.button-bar
      .modal__contents
        .modal__content コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。