//- メガメニューのドロップダウン
nav.menu
  ul.menu__list
    li.menu__list__item
      a.menu__list__item__link(href="") 親メニュー1
      ul.menu__list__drop-menu
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー1
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー2
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー3

  ul.menu__list
    li.menu__list__item
      a.menu__list__item__link(href="") 親メニュー2
      ul.menu__list__drop-menu
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー1
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー2
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー3

  ul.menu__list
    li.menu__list__item
      a.menu__list__item__link(href="") 親メニュー3
      ul.menu__list__drop-menu
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー1
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー2
        li.menu__list__drop-menu__item
          a.menu__list__drop-menu__item--link(href="") 子メニュー3


