

<!-- ページ外リンク -->
a(href="https://global-web-design.com/727/#fixed") Section 2 on Other Page
//- 上記は例で参照サイトを使用している。ここに適宜入れる。
//- #fixedより前がリンク先のURLで、検証を行いid=ID名になっているセクションを探す。そこが遷移先のセクションだったら、上記の様にURLの後に#で追加する！
