footer.footer
  .footer__wrap
    nav.footer__gnav
      ul.footer__gnav__list
        li.footer__gnav__list--item
          a.footer__gnav__link.footer__gnav__link--active(href=".") ホーム
        li.footer__gnav__list--item
          a.footer__gnav__link(href=".") メッセージ
        li.footer__gnav__list--item
          a.footer__gnav__link(href=".") 会社概要

    p.footer__copyright: small &copy;START