head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,  initial-scale=1.0")
  meta(name="description", content="起業用HPのコーディング練習です。")
  meta(name="format-detection", content="telephone=no")
  //-必要に応じて- meta(http-equiv=”X-UA-Compatible”, content=”IE=edge”)
  title START

  // OGPの設定
  // 共通設定　OGPメタデータ /
  meta(property="og:title", content="ページのタイトル")
  meta(property="og:description", content="ページの説明")
  meta(property="og:image", content="https://example.com/image.jpg")
  meta(property="og:url", content="https://example.com/page-url")
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="サイト名")
  // Facebook等の設定が必要ならば適宜する 
    
  // Googleフォントの適用
  // Noto Sans　bold medium blackの適用
  //- link(rel="preconnect", href="https://fonts.googleapis.com")
  //- link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
  //- link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap", rel="stylesheet")

  //- Robotoの適用
  //- <link rel="preconnect" href="https://fonts.googleapis.com">
  //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  //- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&family=Roboto:wght@700&display=swap" rel="stylesheet">

  // マテリアルアイコンの適用
  //- <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  // リセットCSSより前にしておく！後ろにすると。リセットCSSが適用されずに上記スタイルシートが優先して適用されてしまい、font size等が効かなくなってしまう

  // リセットCSS　ress
  link(rel="stylesheet", href="https://unpkg.com/ress/dist/ress.min.css")
  // CSSファイルのリンク
  link(href="../css/index.css", rel="stylesheet")

  // JavaScriptファイルのリンク
  script(src="../js/index.js")

  // ファビコンの指定
  link(rel="icon", type="image/png", href="./icon-192x192.png")
  link(rel="apple-touch-icon", type="image/png", href="./apple-touch-icon-180x180.png")
  link(rel="icon", href="./favicon.ico")
